
*.DS_Store
*.Rhistory
*old/
code/registered report/models/fitted_model_simulated_data.rds
code/registered report/models/fitted_model_simulated_data.rds
/code/registered report/dev
04 registered report/01 systematic search/data/04 processed/data_processed.csv
04 registered report/03 analysis/code/models/fitted_model_simulated_data.rds
